@model RESS.DEMO.Web.Models.GiftCard
@{
    Layout = null;
}

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">Gift Card</div>
        <div class="panel-body" style="min-height:200px;">
            <div class="row">
                <div class="col-lg-4">
                    <img src="../Resources/img/Gift_Card.png" alt="..." class="img-rounded" style="max-width:100%">
                </div>
                <div class="col-lg-4">
                    <img src="../Resources/img/gift1.jpg" alt="..." class="img-rounded" style="max-width:100%">
                </div>
                <div class="col-lg-4">
                    <img src="../Resources/img/pscu.png" alt="..." class="img-rounded" style="max-width:100%">
                </div>
            </div>
        </div>
    </div>    
</div>


