@using RESS.DEMO.Web.Models
@model RESS.DEMO.Web.Models.IPage
@{
    Layout = null;
}
<a id="Button1" type="button" value="English" class="btn btn-success" ng-href="#/Homes/1/en" >English</a>
<a id="Button1" type="button" value="Frech" class="btn btn-success" ng-href="#/Homes/1/fr" />French</a>
<a id="Button1" type="button" value="Spanish" class="btn btn-success" ng-href="#/Homes/1/es" />Spanish</a>
@foreach (RESS.DEMO.Web.Interface.BusinessFunction pageBusinessFunction in Model.Body.Function)
{
    @AngularTag.Directive(pageBusinessFunction.directiveTag);
}

