@using RESS.DEMO.Web.Models
@model RESS.DEMO.Web.Models.IPage
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-4">
        <a id="Button1" type="button" value="Spanish" class="btn btn-success" ng-href="#/Homes/1/fr">Client1</a>
        <a id="Button1" type="button" value="Spanish" class="btn btn-success" ng-href="#/Homes/0/en">Client2</a>
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-5 text-right">
        <a id="Button1" type="button" value="English" class="btn btn-info" ng-href="#/Homes/1/en">English</a>
        <a id="Button1" type="button" value="Frech" class="btn btn-info" ng-href="#/Homes/1/fr">French</a>
        <a id="Button1" type="button" value="Spanish" class="btn btn-info" ng-href="#/Homes/1/es">Spanish</a>

    </div>
</div>
<br />
@foreach (RESS.DEMO.Web.Interface.BusinessFunction pageBusinessFunction in Model.Body.Function)
{
    @AngularTag.Directive(pageBusinessFunction.directiveTag);
}

